In [270]:
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import ast as ast
from sklearn.linear_model import LogisticRegression

In [271]:
data = pd.read_csv('tmdb_5000_movies.csv')

In [272]:
credits = pd.read_csv('tmdb_5000_credits.csv')
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [273]:
data = data.merge(credits,on='title')
data.head(1)
data.cast.isna().sum()

np.int64(0)

In [274]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

,budget,id,popularity,revenue,runtime,vote_average,vote_count,movie_id
count,4.809000e+03,4809.000000,4809.000000,4.809000e+03,4807.000000,4809.000000,4809.000000,4809.000000
mean,2.902780e+07,57120.571429,21.491664,8.227511e+07,106.882255,6.092514,690.331670,57120.571429
std,4.070473e+07,88653.369849,31.803366,1.628379e+08,22.602535,1.193989,1234.187111,88653.369849
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,5.000000
25%,7.800000e+05,9012.000000,4.667230,0.000000e+00,94.000000,5.600000,54.000000,9012.000000
50%,1.500000e+07,14624.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000,14624.000000
75%,4.000000e+07,58595.000000,28.350529,9.291317e+07,118.000000,6.800000,737.000000,58595.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000,459488.000000

In [275]:
df = data[['movie_id','title','tagline']]
data = data[['genres','id','movie_id','overview','keywords','cast','crew']]
data.cast.isna().sum()

np.int64(0)

In [276]:
data.head()

,genres,id,movie_id,overview,keywords,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,19995,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,285,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,206647,A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,49026,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,49529,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [277]:
data.isna().sum()

genres      0
id          0
movie_id    0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [278]:
data.duplicated().sum()

np.int64(0)

In [279]:


def convert(x):
    l = []
    for i in ast.literal_eval(x):
        l.append((i['name']))
    return l
data['genres'] = data['genres'].apply(convert)
data['keywords'] = data['keywords'].apply(convert)
data.cast.isna().sum()
data.cast.isna().sum()

np.int64(0)

In [280]:

import ast
import pandas as pd

def fcast(x):
    if pd.isna(x):
        return []  # Handle NaN rows safely
    
    try:
        # If it's already a Python object (list, dict, etc.)
        if isinstance(x, list):
            items = x
        else:
            # Convert string representation to Python object
            items = ast.literal_eval(x)
        
        names = []
        for i in items:
            if isinstance(i, dict) and 'name' in i:
                names.append(i['name'].replace(" ", ""))
            elif isinstance(i, str):
                names.append(i.replace(" ", ""))

            # Only take top 3
            if len(names) == 3:
                break
        
        return names
    
    except Exception:
        return []  # If anything goes wrong, return empty list


data['cast'] = data['cast'].apply(fcast)


data.cast.isna().sum()

np.int64(0)

In [281]:
def fdir(x):
    l = []
    for i in ast.literal_eval(x):
        if i['job'] == 'Director':
             (l.append(i['name']))
             return l
           
        
data['crew'] = data['crew'].apply(fdir)

In [282]:


data.overview = data.overview.astype(str)
data['overview'] = data['overview'].apply(lambda x:x.split() )

In [283]:
data.cast.isna().sum()

np.int64(0)

In [284]:
def cnv(x):
    l = []
    for i in x:
        l.append(i.replace(" ",""))
    return l

data['genres'] = data['genres'].apply(cnv)

In [285]:


data['cast'] = data['cast'].replace(' ','')

data.cast.isna().sum()

np.int64(0)

In [286]:
def cnv(x):
    l = []
    for i in x:
        l.append(i.replace(" ",""))
    return l

data['keywords'] = data['keywords'].apply(cnv)

In [287]:
data.head(1)

,genres,id,movie_id,overview,keywords,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,19995,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron]

In [288]:
data.cast.isna().sum()

np.int64(0)

In [289]:
df.head()

,movie_id,title,tagline
0,19995,Avatar,Enter the World of Pandora.
1,285,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins."
2,206647,Spectre,A Plan No One Escapes
3,49026,The Dark Knight Rises,The Legend Ends
4,49529,John Carter,"Lost in our world, found in another."

In [290]:
df['tagline'] = df['tagline'].astype(str)

In [291]:
data.head(1)

,genres,id,movie_id,overview,keywords,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,19995,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron]

In [292]:
data['title'] = df.title

In [293]:
data['tags'] = data.genres + data.overview + data.keywords + data.cast + data.crew
data.head(1)

,genres,id,movie_id,overview,keywords,cast,crew,title,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,19995,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron],Avatar,"[Action, Adventure, Fantasy, ScienceFiction, I..."

In [294]:
new_df = data[['movie_id','title','tags']]

In [295]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,206647,Spectre,"[Action, Adventure, Crime, A, cryptic, message..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, Following, th..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, John, Cart..."

In [296]:
# new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))
def fix_tags(x):
    if isinstance(x, list):
        return " ".join(map(str, x))
    elif isinstance(x, str):
        return x
    else:
        return ""

new_df['tags'] = new_df['tags'].apply(fix_tags)
new_df['tags'].isna().sum()

C:\Users\golde\AppData\Local\Temp\ipykernel_13452\962616293.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(fix_tags)

np.int64(0)

In [297]:
new_df.tags = new_df.tags.apply(lambda x:x.lower())

C:\Users\golde\AppData\Local\Temp\ipykernel_13452\1150875322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.tags = new_df.tags.apply(lambda x:x.lower())

In [298]:
new_df.tags[0]

'action adventure fantasy sciencefiction in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver james cameron'

In [299]:
stopwords = {
    'i': -1, 'me': -1, 'my': -1, 'myself': -1, 'we': -1, 'our': -1, 'ours': -1, 'ourselves': -1, 
    'you': -1, "you're": -1, "you've": -1, "you'll": -1, "you'd": -1, 'your': -1, 'yours': -1, 
    'yourself': -1, 'yourselves': -1, 'he': -1, 'him': -1, 'his': -1, 'himself': -1, 'she': -1, 
    "she's": -1, 'her': -1, 'hers': -1, 'herself': -1, 'it': -1, "it's": -1, 'its': -1, 'itself': -1, 
    'they': -1, 'them': -1, 'their': -1, 'theirs': -1, 'themselves': -1, 'what': -1, 'which': -1, 
    'who': -1, 'whom': -1, 'this': -1, 'that': -1, "that'll": -1, 'these': -1, 'those': -1, 'am': -1, 
    'is': -1, 'are': -1, 'was': -1, 'were': -1, 'be': -1, 'been': -1, 'being': -1, 'have': -1, 
    'has': -1, 'had': -1, 'having': -1, 'do': -1, 'does': -1, 'did': -1, 'doing': -1, 'a': -1, 
    'an': -1, 'the': -1, 'and': -1, 'but': -1, 'if': -1, 'or': -1, 'because': -1, 'as': -1, 
    'until': -1, 'while': -1, 'of': -1, 'at': -1, 'by': -1, 'for': -1, 'with': -1, 'about': -1, 
    'against': -1, 'between': -1, 'into': -1, 'through': -1, 'during': -1, 'before': -1, 
    'after': -1, 'above': -1, 'below': -1, 'to': -1, 'from': -1, 'up': -1, 'down': -1, 'in': -1, 
    'out': -1, 'on': -1, 'off': -1, 'over': -1, 'under': -1, 'again': -1, 'further': -1, 'then': -1, 
    'once': -1, 'here': -1, 'there': -1, 'when': -1, 'where': -1, 'why': -1, 'how': -1, 'all': -1, 
    'any': -1, 'both': -1, 'each': -1, 'few': -1, 'more': -1, 'most': -1, 'other': -1, 'some': -1, 
    'such': -1, 'no': -1, 'nor': -1, 'not': -1, 'only': -1, 'own': -1, 'same': -1, 'so': -1, 
    'than': -1, 'too': -1, 'very': -1, 's': -1, 't': -1, 'can': -1, 'will': -1, 'just': -1, 
    'don': -1, "don't": -1, 'should': -1, "should've": -1, 'now': -1, 'd': -1, 'll': -1, 'm': -1, 
    'o': -1, 're': -1, 've': -1, 'y': -1, 'ain': -1, 'aren': -1, "aren't": -1, 'couldn': -1, 
    "couldn't": -1, 'didn': -1, "didn't": -1, 'doesn': -1, "doesn't": -1, 'hadn': -1, "hadn't": -1, 
    'hasn': -1, "hasn't": -1, 'haven': -1, "haven't": -1, 'isn': -1, "isn't": -1, 'ma': -1, 
    'mightn': -1, "mightn't": -1, 'mustn': -1, "mustn't": -1, 'needn': -1, "needn't": -1, 
    'shan': -1, "shan't": -1, 'shouldn': -1, "shouldn't": -1, 'wasn': -1, "wasn't": -1, 
    'weren': -1, "weren't": -1, 'won': -1, "won't": -1, 'wouldn': -1, "wouldn't": -1
}

def remove_words(x):
    l = []
    words = x.split()
    for i in words:
        if i not in stopwords:
            l.append(i)
    return l
new_df.tags = new_df.tags.apply(remove_words)

C:\Users\golde\AppData\Local\Temp\ipykernel_13452\288456541.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.tags = new_df.tags.apply(remove_words)

In [300]:
new_df.tags[0]

['action',
 'adventure',
 'fantasy',
 'sciencefiction',
 '22nd',
 'century,',
 'paraplegic',
 'marine',
 'dispatched',
 'moon',
 'pandora',
 'unique',
 'mission,',
 'becomes',
 'torn',
 'following',
 'orders',
 'protecting',
 'alien',
 'civilization.',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'samworthington',
 'zoesaldana',
 'sigourneyweaver',
 'james',
 'cameron']

In [301]:
new_df.tags = new_df.tags.apply(lambda x:" ".join(x))

C:\Users\golde\AppData\Local\Temp\ipykernel_13452\177334261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.tags = new_df.tags.apply(lambda x:" ".join(x))

In [302]:

new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  action adventure fantasy sciencefiction 22nd c...

In [303]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [304]:
def stem(txt):
    l = []
    for i in txt.split():
        l.append(ps.stem(i))
    return " ".join(l)

new_df['tags'] = new_df.tags.apply(stem)

C:\Users\golde\AppData\Local\Temp\ipykernel_13452\2178902199.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df.tags.apply(stem)

In [305]:
new_df.tags[0]

'action adventur fantasi sciencefict 22nd century, parapleg marin dispatch moon pandora uniqu mission, becom torn follow order protect alien civilization. cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jame cameron'

In [306]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=4809)

In [307]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [308]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(4809,))

In [309]:
cv.get_feature_names_out()
vectors.shape

(4809, 4809)

In [310]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [380]:
def recomand(x):
    idx = new_df[new_df['title'] == x].index[0]
    similar = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])[1:7]

    for i in similar:
        print(new_df.iloc[i[0]].title)
    return

In [381]:
recomand('Harry Potter and the Chamber of Secrets')

Harry Potter and the Order of the Phoenix
Harry Potter and the Prisoner of Azkaban
Harry Potter and the Philosopher's Stone
Harry Potter and the Goblet of Fire
Harry Potter and the Half-Blood Prince
The Chronicles of Narnia: Prince Caspian

In [370]:
new_df['title'].head(20)

0                                          Avatar
1        Pirates of the Caribbean: At World's End
2                                         Spectre
3                           The Dark Knight Rises
4                                     John Carter
5                                    Spider-Man 3
6                                         Tangled
7                         Avengers: Age of Ultron
8          Harry Potter and the Half-Blood Prince
9              Batman v Superman: Dawn of Justice
10                               Superman Returns
11                              Quantum of Solace
12     Pirates of the Caribbean: Dead Man's Chest
13                                The Lone Ranger
14                                   Man of Steel
15       The Chronicles of Narnia: Prince Caspian
16                                   The Avengers
17    Pirates of the Caribbean: On Stranger Tides
18                                 Men in Black 3
19      The Hobbit: The Battle of the Five Armies
Name: title, dtype: object